:root{
  
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

h1{
    
}

/* Utilidades */

.no-margin {
    margin: 0;
  }
  
  .no-padding {
    padding: 0;
  }
  
  .centrar-texto {
    text-align: center;
  }

/** CONTENEDORES **/

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 10rem auto;
  }

  .formulario{
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .boton {
    display: block; /* Hace que en el Smartphones tome todo el espacio posible */
    color: black;
    padding: 1rem 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border: none;
  }
  .boton:hover {
    cursor: pointer;
  }  

  .resultado{
    text-align: center;
  }
